﻿<!DOCTYPE html>
<html>
<head>
   <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
</head>

<body>
    <div id="Header">
        <div id="nav">
            <ul id="menu">
                <li><a href="Home">Home</a></li>
                <li><a href="Trade">Trade</a></li>
                <li><a href="Compare-Exchanges">Compare Exchanges</a></li>
                <li><a href="Login">Login</a></li>
                <li><a href="Report-a-problem">Report a problem</a></li>
            </ul>
        </div>
    </div>
    @RenderBody()
    
    <div id="footer" style="text-align:center;">
        <hr />
        If you would like to make a donation to the site then please make donations here:
        <p id="Bitcoin" style="text-align:center;">BTC: </p>
        <p id="Devcoin" style="text-align:center;">DEV: </p>
        <p id="PPCoin" style="text-align:center;">PPC: </p>

    </div>
</body>
</html>
