﻿@{
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Compare Exchanges - Devcoin Exchange</title>
</head>
<body>
    <h2>
        Here you have some easy uptodate info from the big exchanges on prices.
    </h2>
    CompareExchanges:
    Vircurex
    Mtgox
</body>
</html>