﻿@{
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Devcoin Exchange</title>
</head>
<body>
    <h2>
        Welcome to FuzzyBears Devcoin Exchange.
    </h2>
</body>
</html>