﻿@{
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Login - Devcoin Exchange</title>
</head>
<body>
    <h2>
        Welcome to FuzzyBears Devcoin Exchange.
    </h2>
    <div id="Login">
        Login here
        <input id="Username" type="text" value="Username" />
        <input id="Password" type="password" value ="Password" />
        <input id="LoginExistingUser" type="button" value="Login" />
    </div>
    <div id="Register">
        New User? Register here (all fields are required)
        <input id="NewUsername" type="text" value="Username" />
        <input id="NewPassword" type="password" value ="Password" />
        <input id="NewPassword2" type="password" value ="Repeat Password" />
        <input id="Email" type="text" value="Email" />
        <input id="RegisterNewUser" type="button" value="Register" />
    </div>
</body>
</html>