﻿@{
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Report A Problem - Devcoin Exchange</title>
</head>
<body>
    <h2>
        Welcome to FuzzyBears Devcoin Exchange.
    </h2>
    <div id ="ReportProblem">
        This exchange is still in Beta Testing, so if you find a bug or vunerability in my code please let me know.
        The code is in the Github here:
        Report problems via email here:
        Report problems via the official bitcointalk thread here: 
        Reprot problems via online contact form here:
    </div>
</body>
</html>