﻿@{
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Trade - Devcoin Exchange</title>
</head>
<body>
    <h2>Here you can set your buy and sell options to trade.
    </h2>
    <div id="Buy">
        <h2>Buy Devcoins.
        </h2>
        The Current price of Devcoins for sale is: 
    </div>
    <div id="Sell">
        <h2>Sell Devcoin.
        </h2>
        The Current price of Devcoins to buy is: 
    </div>
</body>
</html>
