﻿body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

article, aside, canvas, details, figcaption, figure, footer, 
header, hgroup, menu, nav, section, summary, time, mark, audio, video 
{ margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }


/* Navigation */
#nav { border:0;padding:0; width:960px; height:43px; display:block; clear:both; float:left; text-align:left; border-bottom:6px solid #eee; background-image:url(graphics/glass.png); background-position:top left; background-repeat:repeat-x; }
#menu { list-style:none; margin:0; padding:0; width:504px; float:left; display:inline-block; background-color: #0000cd;}
#menu li { list-style:none; margin:0; padding:0;}
#menu li a { display:inline-block; height:28px; padding:15px 15px 0; float:left; width:auto; color:#fff; text-align:center; text-decoration:none; border-right:1px solid #eee; font-size:16px; letter-spacing:-1px; font-family:'DroidSansRegular', Arial, sans-serif; font-weight:100; text-shadow:1px 1px 1px #000; }
#menu li a:hover {background-color:#000;}
#nav #lang { color:#fff; padding-top:10px; text-align:right; padding-right:10px; width:270px; display:inline-block; float:left; }


/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
